%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Price
      %th Limit
      %th Customer
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= product.limit
        %td= product.user_id
        - if product.number.present?
          = product.number
        - else
          なし
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product', new_product_path

= link_to 'ログアウト', destroy_user_session_path, method: :delete